<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1 {
        color: #009688;
        text-align: center;
        text-decoration: dotted;
        font-size: 50px;
        font-family: fantasy;
        width: 100%;
    }

    h4 {
        color: #009688;
        text-align: center;
        text-decoration: dotted;
        font-size: 50px;
        font-family: fantasy;
        background: #dfddeb;
        width: 100%;
    }

    p {
        width: 1084px;
        color: black;
        font-size: 20px;
    }

    li {
        font-size: 24px;
        color: #66a3a3;
    }

    ul {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        background-color: rgb(195, 236, 223);
        width: 100%;
        height: 50px;
        margin-top: -8px;
        color: black;
    }
    footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
</style>

<body>
    <ul type="none">
        <li><a style="color:black; text-decoration: none; font-size: 20px;" href="Home.ejs">Home</a></li>
        <li><a style="color:black; text-decoration: none; font-size: 20px; " href="Contact.ejs">Contact</a></li>
        <li><a style="color:black; text-decoration: none; font-size: 20px; " href="Our Services.ejs">Services</a></li>
    </ul>
    <ol>
        <ol>
            <h1> Welcome we are opened &#128512;</h1>
            <img src="https://images.pexels.com/photos/5414000/pexels-photo-5414000.jpeg?auto=compress&cs=tinysrgb&w=600"
                style="width: 978px;margin-left: 200px;height: 700px;" />
            <div>

                <h4>Bienfaits magiques qu'ont fleurs sur les humains</h4>


                <li> Les fleurs améliorent votre sommeil</li>

                <p>Pas la peine de préciser que les plantes naturelles apportent de la fraicheur en améliorant l'odeur
                    d'une
                    pièce,
                    mais saviez-vous que certaines plantes à fleurs ont aussi la capacité de filtrer et purifier l'air
                    environnant d'une pièce ?

                    Pour en citer quelques-unes : la fleur de lys, le gerbera et le bromélia. En effet, ces fleurs ont
                    fait
                    l'objet d'une étude et les résultats sont surprenants. Arrivées à floraison, elles peuvent
                    contribuer à
                    éliminer les toxines nocives de l'air et peuvent même améliorer le sommeil d'une nuit.
                    Leurs propriétés sont dûs aux grandes quantités d'oxygènes qu'elles dégagent durant la nuit.
                </p>


                <img
                    src="https://cdn.shopify.com/s/files/1/0473/2685/5327/files/purification-de-l-air-fleur_2_-min.jpg?v=1604939344" />

            </div>
            <div>


                <li> Les fleurs égayent votre intérieur et positivent votre humeur !</li>

                <p>Peu de personnes diront le contraire, ajouter un peu de couleur dans sa maison peut faire énormément
                    de
                    bien.
                    En décorant son salon, sa cuisine ou même sa chambre à coucher de fleurs, vous pouvez réussir à
                    apaiser
                    et
                    améliorer votre humeur tout en éliminant la plupart de vos pensées négatives.
                    Cela peut donc avoir un avantage sur votre système nerveux en vous aidant à mieux communiquer avec
                    les
                    autres.
                </p>

                <img
                    src="https://cdn.shopify.com/s/files/1/0473/2685/5327/files/fleur-ameliore-humeur-min.jpg?v=1604939601" />
                <p>En 2006, une étude menée à Harvard par une psychologue et chercheuse, Nancy Etcoff, a démontré que
                    les
                    personnes ayant placé des fleurs dans leur maison, à des emplacements régulièrement visibles,
                    ont aperçu qu'ils étaient plus souvent de bonne humeur et éprouvaient même une plus grande
                    compassion
                    envers
                    les autres !</p>
            </div>
            <div>


                <li> Les fleurs compléteront parfaitement votre décoration intérieure</li>

                <p>Ce qui est particulièrement avantageux avec les fleurs fraîches et aromatiques c'est qu'elles peuvent
                    se
                    présenter
                    sous de nombreuses couleurs, formes et tailles différentes. Ce sont des remèdes parfaits pour
                    accompagner de
                    nombreux styles intérieurs.
                    Il est aussi très simple de choisir des fleurs en fonction des différentes personnalités et qui
                    s'adaptent à
                    n'importe quelle envie.
                </p>

                <img
                    src="https://cdn.shopify.com/s/files/1/0473/2685/5327/files/fleurs_vous_font_sentir_et_penser_mieux-min.jpg?v=1604938114" />
                <p>
                    De plus, les fleurs peuvent s'ajuster facilement à vos objets de décorations et peuvent être
                    intégrées
                    dans
                    des éléments design de votre maison,
                    comme vos luminaires par exemple.</p>
            </div>
            <div>


                <li> Les fleurs vous font sentir et penser mieux</li>


                <p>Nous sommes tous conscient que les fleurs ont un effet positif sur les parents malades, les femmes
                    enceintes,
                    et de nombreuses autres personnes. Mais saviez-vous qu'il s'agit en fait d'effets physiologiques ?
                    Selon
                    certaines études,
                    les fleurs pourraient même baisser la tension artérielle d'une personne,
                    réduire les sentiments d'anxiété et de douleur tout en aidant à lutter contre la fatigue et les maux
                    de
                    tête.

                    <img
                        src="https://cdn.shopify.com/s/files/1/0473/2685/5327/files/rideaux-fleuris-orange_1_-min.jpg?v=1604940085" />
                <p>

                    Avoir des fleurs thérapeutiques dans votre maison peut sans aucun doute vous aider à vous relaxer et
                    à
                    mieux
                    vous détendre physiquement.
                    Elles sont donc bénéfiques si vous êtes en train de passer un examen ou si vous vous préparez à un
                    projet
                    personnel qui vous tient à coeur. Ces bénéfices ont été découverts par de nombreux chercheurs qui
                    affirment
                    que les fleurs
                    peuvent améliorer les performances cognitives de chacun lorsqu'elles sont présentes dans un espace
                    de
                    travail.</p>
                </p>
            </div>
            <div style="display: flex;">
                <div class="Na" style="    background-color: #2e3835;
width: 520px;
padding: 20px;
margin-left: 50px;
border-radius: 12px 12px 12px 12px;
">
                    <img src="https://media.istockphoto.com/id/1135370998/fr/photo/petite-entreprise-fleuriste.jpg?b=1&s=612x612&w=0&k=20&c=unEt3_jkJhhDqMi4SWAq8EYAviaCmLAD_B7IBJIts7s="
                        style="width: 243px;
height: 220px;padding: 5px;border-radius: 12px 12px 12px 12px;" />
                    <img src="https://media.istockphoto.com/id/1369508879/fr/photo/femme-travaillant-dans-un-magasin-de-fleurs-v%C3%A9g%C3%A9tales.jpg?b=1&s=612x612&w=0&k=20&c=atjFBTKLBs0033AKV9HSqSmZPHXwXhpEVW54kpMyBWc="
                        style="width: 243px;
height: 220px;padding: 5px;border-radius: 12px 12px 12px 12px;" />
                    <img src="https://media.istockphoto.com/id/1151984345/fr/photo/portrait-de-elle-elle-belle-attrayante-belle-charmante-winsome-gai-cheveux-ondul%C3%A9s-dame.jpg?b=1&s=612x612&w=0&k=20&c=zrW18K334vKgfWsfvdQHu1UrvTDgxTH2WUP4l4OzNYQ="
                        style="width: 243px;
height: 220px;padding: 5px;border-radius: 12px 12px 12px 12px;" />
                    <img src="https://media.istockphoto.com/id/827524364/fr/photo/femme-entrepreneur-%C3%A0-le-%C5%93uvre-dans-sa-boutique-de-fleuristes.jpg?b=1&s=612x612&w=0&k=20&c=8cqK72hNSxam073yohMXId_SkNn_1sYcvwmGCFnIyNY="
                        style="width: 243px;
height: 220px;padding: 5px;border-radius: 12px 12px 12px 12px;" />
                    <!-- <img src="https://images.pexels.com/photos/947914/pexels-photo-947914.jpeg?auto=compress&cs=tinysrgb&w=600" style="width: 243px;
height: 220px;"/>
<img src="https://images.pexels.com/photos/130853/pexels-photo-130853.jpeg?auto=compress&cs=tinysrgb&w=600" style="width: 243px;
height: 220px;"/> -->
                </div>
                <div class="Na" style="    background-color: #2e3835;
width: 520px;
padding: 20px;
margin-left: 30px;
border-radius: 12px 12px 12px 12px;
">
                    <img src="https://images.pexels.com/photos/6764292/pexels-photo-6764292.jpeg?auto=compress&cs=tinysrgb&w=600"
                        style="width: 243px;
height: 220px;padding: 5px;border-radius: 12px 12px 12px 12px;" />
                    <img src="https://images.pexels.com/photos/5409702/pexels-photo-5409702.jpeg?auto=compress&cs=tinysrgb&w=600"
                        style="width: 243px;
height: 220px;padding: 5px;border-radius: 12px 12px 12px 12px;" />
                    <img src="https://images.pexels.com/photos/7858798/pexels-photo-7858798.jpeg?auto=compress&cs=tinysrgb&w=600"
                        style="width: 243px;
height: 220px;padding: 5px;border-radius: 12px 12px 12px 12px;" />
                    <img src="https://images.pexels.com/photos/5409763/pexels-photo-5409763.jpeg?auto=compress&cs=tinysrgb&w=600"
                        style="width: 243px;
height: 220px;padding: 5px;border-radius: 12px 12px 12px 12px;" />
                </div>
            </div>
        </ol>
        <footer>
            <p>Author: Atoui Arem<br>
                <a href="arem.atoui@isimg.tn">arem.atoui@isimg.tn</a>
            </p>
        </footer>
</body>

</html>