<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    ul {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        background-color: rgb(195, 236, 223);
        width: 100%;
        height: 50px;
        margin-top: -8px;
        color: black;
    }

    col-sm-6 col-xs-12 {
        padding-right: 25px;
        padding-left: 25px;
    }

    footer {
        text-align: center;
        padding: 3px;
        background-color: DarkSalmon;
        color: white;
    }

    .cta {
        background: #ebaba2;
        font-family: 'Vremena Grotesk Medium', Arial, sans-serif;
        font-size: 13.5px;
        line-height: 1;
        display: inline-block;
        padding: 18px 30px 16px;
        border: 1px solid rgba(38, 36, 34, 0.5);
        letter-spacing: 0.05em;
        -webkit-transition: all 50ms ease-in-out;
        -moz-transition: all 50ms ease-in-out;
        -ms-transition: all 50ms ease-in-out;
        -o-transition: all 50ms ease-in-out;
        transition: all 50ms ease-in-out;
        color: #fff;
    }

    .naa {
        position: absolute;
        top: 487px;
        left: 319px;
        color: rgb(58, 3, 3);
        font-size: 24px;
        text-align: center;
        transform: translate(-50%, -50%);
        font-family: 'Linux Biolinum O Regular', Georgia, serif;
    }

    .naa1 {
        position: absolute;
        top: 488px;
        left: 906px;
        color: rgb(58, 3, 3);
        font-size: 24px;
        text-align: center;
        transform: translate(-50%, -50%);
        font-family: 'Linux Biolinum O Regular', Georgia, serif;
    }
</style>

<body>
    <ul type="none">
        <li><a style="color:black; text-decoration: none; font-size: 20px;" href="Home.ejs">Home</a></li>
        <li><a style="color:black; text-decoration: none; font-size: 20px;" href="Contact.ejs">Contact</a></li>
        <li><a style="color:black; text-decoration: none; font-size: 20px;" href="Our Services.ejs">Services</a></li>
    </ul>
    <ol>
        <h1 id="test" class="page-title" style="text-decoration: solid;">Nos boutiques</h1>
        <hr />
        <div class="Global" style="display: flex;">
            <div class="boutique col-sm-6 col-xs-12">
                <figure>
                    <a href="https://www.boutiquelesfleurs.com/boutiques/josset/" rel="nofollow">
                        <img src="https://www.boutiquelesfleurs.com/wp-content/uploads/2019/01/les-fleurs-swallow-hirondelles.jpg"
                            srcset="https://www.boutiquelesfleurs.com/wp-content/uploads/2019/01/les-fleurs-josset-fleurs-sechees.jpg 2000w"
                            alt="Les Fleurs Passage Josset" data-pagespeed-url-hash="782520406"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);" style="width:500px">
                        <div class="overlay"></div>
                        <figcaption class="boutique-detail">
                            <div class="naa">
                                <h2 class="page-title">Les Fleurs</h2>
                                <address style=" font-family: fantasy;">6 Passage
                                    Josset<br>— Paris 11e</address>
                                <div class="retour" style="font-family: fantasy;">
                                    <p>Ouvert du mardi au samedi</p>
                                    <p>11h00 - 19h30</p>
                                </div>


                                <div class="cta">Découvrir la boutique</div>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="boutique col-sm-6 col-xs-12">
                <figure>
                    <a href="https://www.boutiquelesfleurs.com/boutiques/trousseau/" rel="nofollow">
                        <img src="https://www.boutiquelesfleurs.com/wp-content/uploads/2019/01/les-fleurs-swallow-hirondelles.jpg"
                            srcset="https://www.boutiquelesfleurs.com/wp-content/uploads/2019/01/les-fleurs-swallow-hirondelles.jpg 2000w"
                            alt="Les Fleurs Rue Trousseau" style="width:500px;">
                        <div class="overlay"></div>
                        <figcaption class="boutique-detail">
                            <div class="naa1">
                                <h2 class="page-title">Les Fleurs</h2>
                                <address style=" font-family: fantasy;">5 Rue
                                    Trousseau<br>— Paris 11e</address>
                                <div class="retour" style=" font-family: fantasy;">
                                    <p>Ouvert du lundi au samedi</p>
                                    <p>11h00 - 19h30</p>

                                    <div class=" cta">Découvrir la boutique</div>
                                </div>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>
        <div class="baseline col-xs-12 hidden-xs">
            <h3>Deux adresses, deux atmosphères,<br>au cœur de Paris.</h3>
        </div>
        <div class="ALL" style="display:flex;margin-left: 20px;background-color: bisque;padding: 100px;width: 1000px;">
            <div class="Big">
                <div class="Naa" style="display: flex;">
                    <img src="https://images.pexels.com/photos/74512/pexels-photo-74512.jpeg?auto=compress&cs=tinysrgb&w=600"
                        style="padding:5px;    width: 238px;
                        height: 214px; " />
                    <img src="https://images.pexels.com/photos/1381679/pexels-photo-1381679.jpeg?auto=compress&cs=tinysrgb&w=600"
                        style="padding:5px;    width: 238px;
                        height: 214px; " />
                </div>
                <img src="https://images.pexels.com/photos/132468/pexels-photo-132468.jpeg?auto=compress&cs=tinysrgb&w=600"
                    style="    width: 486px;
        height: 185px; padding: 5px" />

            </div>
            <div class="big">
                <div class="Na" style="display: flex;">
                    <img src="https://images.pexels.com/photos/10067689/pexels-photo-10067689.jpeg?auto=compress&cs=tinysrgb&h=204&fit=crop&w=228&dpr=1"
                        style="padding:5px;width: 238px; height: 214px;" />
                    <img src="https://images.pexels.com/photos/1196312/pexels-photo-1196312.jpeg?auto=compress&cs=tinysrgb&h=204&fit=crop&w=228&dpr=1"
                        style="padding:5px;width: 238px; height: 214px; " />
                </div>
                <img src="https://images.pexels.com/photos/992734/pexels-photo-992734.jpeg?auto=compress&cs=tinysrgb&w=600"
                    style="    width: 486px;
        height: 185px; padding: 5px" />

            </div>
        </div>
        <footer>
            <p>Author: Atoui Arem<br>
                <a href="arem.atoui@isimg.tn">arem.atoui@isimg.tn</a>
            </p>
        </footer>
</body>

</html>